<footer class="footer p-2">
  <div class="container-fluid">
    <div class="d-flex justify-content-end">
	  <div class="mr-auto">
<!-- 	  	<a href="http://www.thomsonreuters.com" class="text-muted" target="_blank" title="Thomson Reuters"> -->
<!-- 	  		<span class="icon-thomson-reuters-logo"></span> -->
<!-- 	  	</a> -->
	  	<span class="text-muted d-block">Angular One App &copy; 2017. All Rights Reserved.</span>	  	
	  </div>
	  <ul>
		<li class="p-2 d-inline-block"><a href="#" class="text-info">Privacy Policy</a></li>
		<li class="p-2 d-inline-block"><a href="#" class="text-info">Disclaimer</a></li>
	  </ul>	  
	</div>
  </div>
</footer>
