table {
	font-size:0.85rem;
}

md-spinner {
	width: 2%;
	height: 2%;
	margin: 0 auto;
}

.lename {
	max-width: 200px;
	padding-left: 30px;
	position: relative;
}

.lename a.collapser{
	position: absolute;
	left: 5px;
	top: 13px;
}